<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">

    <link rel="icon" href="https://image.freepik.com/free-icon/shopping-cart-of-checkered-design_318-50865.jpg">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
